@import "tailwindcss";

@theme {
  --font-sans: "Fustat", sans-serif;
  --font-mono: "DM Mono", monospace;
}

@layer base {
  :root {
    --background: 101 49% 11%;
    --foreground: 41 42% 92%;
    --border: 99 22% 21%;
    --card: 41 42% 92%;
    --card-foreground: 101 49% 11%;
    --card-border: 43 45% 85%;
    --secondary: 96 49% 8%;
    --secondary-foreground: 41 42% 92%;
    --muted: 90 14% 54%;
    --muted-foreground: 41 42% 92%;
    --accent: 21 66% 55%;
    --accent-foreground: 41 42% 92%;
    --radius: 1rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-zinc-950 font-sans text-foreground antialiased;
  }
}

@utility border-border {
  border-color: hsl(var(--border));
}

@utility bg-background {
  background-color: hsl(var(--background));
}

@utility bg-secondary {
  background-color: hsl(var(--secondary));
}

@utility bg-card {
  background-color: hsl(var(--card));
}

@utility bg-accent {
  background-color: hsl(var(--accent));
}

@utility text-foreground {
  color: hsl(var(--foreground));
}

@utility text-card-foreground {
  color: hsl(var(--card-foreground));
}

@utility text-accent {
  color: hsl(var(--accent));
}

@utility text-accent-foreground {
  color: hsl(var(--accent-foreground));
}

@utility text-muted {
  color: hsl(var(--muted));
}

@utility text-muted-foreground {
  color: hsl(var(--muted-foreground));
}

@utility border-card-border {
  border-color: hsl(var(--card-border));
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
